<footer>
<div class="footer">
    <div class="about thema">
        <div class="thema-title">
            O NAS
        </div>
        <div class="thema-content">
            31-429 Kraków, ul. Łukasiewicza 3<Br>
            Tel: <div class="thema-r">(+48) 12 2991420</div><Br>
            Kom:<div class="thema-r">(+48) 501 134 519</div><Br>
            Kom:<div class="thema-r">(+48) 506 111 319</div><Br>
            E-mail:<div class="thema-r">recznamyjnia@gmail.com</div>
        </div>
    </div>
    <div class="services thema">
        <div class="thema-title">
            USŁUGI
        </div>
        <div class="thema-content">
            <ul>
                <li>Napełnianie klimatyzacji</li>
                <li>Naprawa klimatyzacji</li>
                <li>Wymiana kół i opon</li>
                <li>Kompleksowe mycie pojazdu</li>
                <li>Naprawa hamulcy</li>
                <li>Wymiana oleju i filtrów</li>
                <li>Inne naprawy samochodowe</li>
                <li>Obsługa flot samochodowych</li>
            </ul>
        </div>
    </div>
    <div class="works thema">
        <div class="thema-title">
            GODZINY PRACY
        </div>
        <div class="thema-content">
            pon. - piąt. 7:00 - 17:00<br>
            sob. 8:00 - 13:00<br>
            niedz. zamknięte
        </div>
    </div>
</div>
<div class="author">
    © Copyright 2022 <a href="https://github.com/emotikon90elo5">emotikonowy</a> 
</div>
</footer>
