<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('head'); %> 
    <title>Register</title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="">
    </form>
</body>
</html>