<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Strona Główna</title>
    <%- include('head'); %> 
</head>
<body>
    <%- include('header', {click: "rent", user: user}); %> 
    
    <%- include('footer'); %> 
</body>
</html>